body,td,th {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#glu{
display:none;
position:absolute!important;
z-index:0!important;
top:0;
bottom:0;
left:0;
right:0;
margin:0 auto;
}
#appbk,.btext2{
position:relative;
z-index:1!important;
}
[width='138']{position:relative;z-index:1;}
#appicons{
position:relative;
left:4px;
height:322px;
width:2%;
}
#appbk{  
transition: all ease-in-out 0.3s;  
font-family: 'Patrick Hand', cursive;  
position:relative;  
height:32px;  
width:32px;   
margin-top:5px; 
margin-left:5px; 
background:rgba(0,0,0,0.4);  
border:2px solid rgba(255,255,255,0.3);  
border-radius:100%;  
z-index:0;
}  
#appbk:hover{  
transition: all ease-in-out 0.3s;  
border:2px solid rgba(255,255,255,0.6);  
border-radius:100%;  
}  
.clgrid {  
background-image:url(https://i.imgur.com/VRAknRF.png);  
background-size:cover;  
width:18px;  
height:17px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
} 
.clyt {  
background-image:url(https://i.imgur.com/WwOoaKi.png);  
background-size:cover;  
width:15px;  
height:17px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
}  
.cldoodle {  
background-image:url(https://i.imgur.com/aTi8dsS.png);  
background-size:cover;  
width:20px;  
height:24px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
} 
.cltranslate {  
background-image:url(https://i.imgur.com/lN9g3dF.png);  
background-size:cover;  
width:24px;  
height:25px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
} 
.clgames {  
background-image:url(https://i.imgur.com/xhbhxKN.png);  
background-size:cover;  
width:20px;  
height:14px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
} 
.clsmileys {  
background-image:url(https://i.imgur.com/0xaD7Jf.png);  
background-size:cover;  
width:22px;  
height:22px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
} 
.clclose {  
background-image:url(https://i.imgur.com/RBgeHeu.png);  
background-size:cover;  
width:15px;  
height:15px;  
transition: all ease-in-out 0.3s;  
margin:auto;  
position:absolute;  
top:0;  
bottom:0;  
left:0;  
right:0;  
} 
#appbk:hover .clgrid {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
} 
#appbk:hover .clyt {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
}  
#appbk:hover .cldoodle {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
}  
#appbk:hover .cltranslate {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
}  
#appbk:hover .clgames {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
}  
#appbk:hover .clsmileys {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
}  
#appbk:hover .clclose {  
-webkit-transform: scale(0.85,0.85);
transition: all ease-in-out 0.3s;  
}  
.dream{
  -webkit-animation: rainbow 15s infinite; 
  -ms-animation: rainbow 15s infinite;
  animation: rainbow 15s infinite; 
}
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}
#chat{
-webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}
#chat{display:block}
#chat embed{transition: all ease-in-out 0.3s;!important}
#chat{position:relative}
#chat{
right:9px;
z-index:99;
}
#chat embed{background-blend-mode:screen!important}
#header{
color:#DDD;
text-align:center;
background:rgba(0, 0, 0, 0.7)
}
#wrapper{
text-align:center;
height:100%;
background:rgba(255,255,255,0.1);
border-left:2px solid rgba(255, 255, 255, 0.3);
width:230px;
position:fixed;
z-index:99;
right:0;
margin:auto;
overflow:auto;
opacity:0;
transition:all ease-in-out 0.4s;
}
#wrapper:hover{
opacity:1;
transition:all ease-in-out 0.4s;
}
::-webkit-scrollbar{
display:none;
}
.thumb{
width:190px;
height:190px;
border:2px solid rgba(255, 255, 255, 0.3);
border-radius:5px;
margin-top:10px;
margin-bottom:10px;
background:rgba(0, 0, 0, 0.5);
display: inline-block;
color:#DDD;
transition:all ease-in-out 0.2s;
cursor:pointer;
}
.thumb:hover{
background:rgba(55, 55, 55, 0.6);
transition:all ease-in-out 0.2s;
}
.thumb2:hover{
background:rgba(255, 0, 0, 0.2);
transition:all ease-in-out 0.2s;
}
.thumb img{
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 7px 2px -6px black;
box-shadow: 0 7px 6px -6px black;
height:75px;
position:relative;
}
.t_title h1{
text-align:center;
margin:4px;
font-size:20px;
font-weight:normal;
}
.desc p{
text-align:center;
font-size:11px;
width:150px;
padding-top:10px;
margin:0 auto;
}
#dream {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 4;
    width: auto;
    height: 40px;
}
#dream img:hover {
    opacity:0.7;
}
body {
	background-color: #000000;
background:}.btext2{width:20px}a:hover{color:#AAA!important}a{text-decoration:none!important}[height='24']{display:none}td h1,h2,[height='10'],.btext,[height='32'], .btext2 img, .twitter-share-button,td iframe:not([src*='/embed/']):not([src*='/web_gear/']){display:none}img[height='49']{position:relative}img[height='49']{z-index:9999}img[height='49']{opacity:0} [width='138']{transition:all ease-in-out 0.2s}[width='138']:hover{transition:all ease-in-out 0.2s}[width='138'] {background:url(https://i.imgur.com/0pB3X4L.png)5px 5px no-repeat}[width='138']:hover {background:url(https://i.imgur.com/cvnc7Pd.png)5px 5px no-repeat}[width='100%']{background:0}.foot, .foot a,strong{font-size:11px!important}img{opacity:1}img{transition:all ease-in-out 0.2s}::-webkit-scrollbar-button{display:none}::-webkit-scrollbar-button{height:13px}::-webkit-scrollbar-button{border-radius:0px}::-webkit-scrollbar-button{background-color:#AAA}::-webkit-scrollbar-button:hover{background-color:#AAA}::-webkit-scrollbar-thumb{background-color:#333}::-webkit-scrollbar-thumb:hover{background-color:#555}::-webkit-scrollbar-track{background-color:#030303}::-webkit-scrollbar-track:hover{background-color:#030303}::-webkit-scrollbar{width:10px}#glu{display:none};
P {
	FONT-SIZE: 0.8em;
}
A:link {text-decoration: none; color:#FFFFFF}
A:visited {text-decoration: none; color:#FFFFFF}
A:hover {text-decoration: underline; color:#FFFFFF}
A:active {text-decoration: none; color:#FFFFFF}

.foot { FONT-SIZE: 0.9em;}

.vbmenu_control
{
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	white-space: nowrap;
	border-top:none;
	border-bottom: 1px solid #a3a3a3;
}

.vbmenu_control_o
{
	border-top:none;
	border-bottom: 1px solid #a3a3a3;
}

.vbmenu_control_t
{
	background: transparent url(/images/menuback.gif) center center repeat-x;
	border-bottom: 1px solid #a3a3a3;
	border-top: 1px solid #a3a3a3;
}
.vbmenu_control_os
{
	border-top:none;
	border-bottom: 1px solid #000000;
}

.vbmenu_control_ts
{
	background: transparent url(/images/menuback.gif) center center repeat-x;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #a3a3a3;
}

H2
{
	padding:0;
	line-height:14px;
	margin:0;
	font-size:14px;
	text-align:left;
	vertical-align:middle;
	margin-bottom:4px;
	margin-top:-1px;
}
.btext
{
	text-align:center;
	font-size:10px;
}
.btext2
{
	text-align:left;
	font-size:10px;
}

#media,td[width='8'],[width='2%'],[height='51'] td{font-size:0;}