.Null {
transition: all ease-in-out 0.3s;
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
}
.Lofi {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/McNnwjV.png') no-repeat,url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Lofi:hover {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/McNnwjV.png')no-repeat,url('https://i.imgur.com/8lVIDHq.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Lofi_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/8QYWAvt.jpg')no-repeat center/cover fixed;
}
.Yume {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Yume:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Yume_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/59YHsW1Y/yume-background.png')no-repeat center/cover fixed;
}
.Dreamy {
background:url('https://i.imgur.com/SzqmesU.gif')no-repeat,url('https://i.imgur.com/WCbBlmS.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Dreamy_Back {
background:url(https://i.imgur.com/bqm3kPc.png)top center no-repeat,  
url(http://i.imgur.com/rlR1jUo.png)top center repeat-x,url(https://i.imgur.com/6Y70sWR.png)top 40px center no-repeat,url('https://i.imgur.com/t1NFzfY.png')center/cover fixed#000;
}
.DreamyChat {
background:url('https://i.postimg.cc/TYJvYBMv/dreamy.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.DreamyChat_Back {
background:url('https://i.postimg.cc/1m8ScW6D/V9phg7g.jpg')center/cover fixed#000;
}
.Dreamy2 {
background:url('https://i.imgur.com/SzqmesU.gif')no-repeat,url('https://i.imgur.com/WCbBlmS.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Dreamy2_Back {
background:url(https://i.imgur.com/wNnyEc3.png)top center no-repeat, 
url(https://i.imgur.com/eDld4N7.png)top center repeat-x,url(https://i.imgur.com/SknRKbC.png)top 40px center no-repeat,url(https://i.imgur.com/xcJS5B5.png)fixed#000;
}
.Dreamy3 {
background:url('https://i.imgur.com/SzqmesU.gif')no-repeat,url('https://i.imgur.com/WCbBlmS.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Dreamy3_Back {
background:url(https://i.imgur.com/bqm3kPc.png)top center no-repeat,url(http://i.imgur.com/kquf21Q.png)top 300px center no-repeat,url(http://i.imgur.com/v6MnyUl.png)top center repeat#000;
}
.Fate {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Fate:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Fate_Back {
background:#000;
}
.Amy {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Amy:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Amy_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/X7YwyGvn/amy-wallpaper.jpg')no-repeat center/cover fixed;
}
.CorpseParty {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.CorpseParty:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.CorpseParty_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/SsHMm4Jb/corpse-back.png')no-repeat center/cover fixed;
}
.CorpseParty2 {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.CorpseParty2:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.CorpseParty2_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/Y2g4QJvj/corpse-back2.png')no-repeat center/cover fixed;
}
.CorpseParty3 {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.CorpseParty3:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.CorpseParty3_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/wTM5NDt0/corpse-back3.png')no-repeat center/cover fixed;
}
.Doki {
background:url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Doki:hover {
background:url('https://i.imgur.com/z2qlQdb.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode:screen;
}
.Doki_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/7h56H39W/137-1371449-doki-doki-literature-club.jpg')no-repeat center/cover fixed;
}
.Zeal {
background:url('https://i.imgur.com/5cfjNmr.png')no-repeat ,url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Zeal:hover {
background:url('https://i.imgur.com/5cfjNmr.png')no-repeat ,url('https://i.imgur.com/8lVIDHq.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Zeal_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/lKvU0L5.jpg') no-repeat center/cover fixed;
}
.Undertale {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/P1w3tSx.png')no-repeat,url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Undertale:hover {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/P1w3tSx.png')no-repeat,url('https://i.imgur.com/8lVIDHq.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Undertale_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/xNkU1MC.gif') no-repeat center/cover fixed;
}
.Anti {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/nY8EEdA.png')no-repeat,url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Anti:hover {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/nY8EEdA.png')no-repeat,url('https://i.imgur.com/8lVIDHq.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Anti_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/xmc2ZEi.png') no-repeat center/cover fixed;
}
.Corpse {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/uzPtW1m.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Corpse:hover {
background:url('https://i.imgur.com/SzqmesU.gif'),url('https://i.imgur.com/jgsdzfD.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Corpse_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/WbPzLkrX/Corpse-Bride-Outer.png') no-repeat center/cover fixed;
}
.Nightmare {
background:url('https://i.imgur.com/IOAtC8X.png')no-repeat,url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Nightmare:hover {
background:url('https://i.imgur.com/IOAtC8X.png')no-repeat,url('https://i.imgur.com/8lVIDHq.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Nightmare_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/bdzcBk9.png') no-repeat center/cover fixed;
}
.Alita {
background:url('https://i.imgur.com/AU8BdC4.png'),url('https://i.postimg.cc/bY0BWBKB/blank.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Alita:hover {
background:url('https://i.imgur.com/AU8BdC4.png'),url('https://i.imgur.com/8lVIDHq.png')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Alita_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/19zAOau.png') no-repeat center/cover fixed;
}
.Serenity {
background:url('https://i.imgur.com/1V0FgtJ.gif')no-repeat;
transition: all ease-in-out 0.3s;
background-blend-mode: screen;
}
.Serenity_Back {
background:url('https://i.imgur.com/pMgUU14.png') no-repeat center/cover fixed;
}