.Dreamy_Back {
background:url(https://i.imgur.com/bqm3kPc.png)top center no-repeat,  
url(http://i.imgur.com/rlR1jUo.png)top center repeat-x,url(https://i.imgur.com/6Y70sWR.png)top 40px center no-repeat,url('https://i.imgur.com/t1NFzfY.png')center/cover fixed#000;
}
.Yume_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/59YHsW1Y/yume-background.png')no-repeat center/cover fixed;
}
.Fate_Back {
background:#000;
}
.Lofi_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/8QYWAvt.jpg')no-repeat center/cover fixed;
}
.Anti_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/xmc2ZEi.png') no-repeat center/cover fixed;
}
.Amy_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/X7YwyGvn/amy-wallpaper.jpg')no-repeat center/cover fixed;
}
.Undertale_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/xNkU1MC.gif') no-repeat center/cover fixed;
}
.Corpse_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/WbPzLkrX/Corpse-Bride-Outer.png') no-repeat center/cover fixed;
}
.Alita_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/19zAOau.png') no-repeat center/cover fixed;
}
.Zeal_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.imgur.com/lKvU0L5.jpg') no-repeat center/cover fixed;
}
.Doki_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/3rnMpch6/monikkkkkkkkkkkkkkkkkka.jpg')no-repeat center/cover fixed;
}
.Doki2_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/vBhKrcJ9/anime-doki-doki-literature-club-sayori-doki-doki-literature-club-dark-background-wallpaper.jpg')no-repeat center/cover fixed;
}
.CorpseParty_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/SsHMm4Jb/corpse-back.png')no-repeat center/cover fixed;
}
.CorpseParty2_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/Bb8Cjb4J/image.jpg')no-repeat center/cover fixed;
}
.CorpseParty3_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/Bb8Cjb4J/image.jpg')no-repeat center/cover fixed;
}
.Higu1_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/PxbjBXBr/Ej1-KMh6-Wk-Ag-BJj8.jpg')no-repeat center/cover fixed;
}
.Higu2_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/9Qws6X95/XURp0ZS.png')no-repeat center/cover fixed;
}
.Higu3_Back {
background:url('https://i.imgur.com/T1Fp4Ws.png') no-repeat center/cover fixed,url('https://i.postimg.cc/d08p0Wn5/maxresdefault.jpg')no-repeat center/cover fixed;
}