:root {
  --avatar:url('https://i.postimg.cc/rFTZpJBF/amy.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/sxrmvj00/amyxatspace.png');
  --inner-back:url('https://i.postimg.cc/sxrmvj00/amyxatspace.png') 0 0/cover no-repeat#000;
  --color:#e5bdfd;
}