:root {
  --avatar:url('https://i.postimg.cc/02PXNjpg/satoru.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/mkq4FdNT/erasedxatspace2.png');
  --inner-back:url('https://i.postimg.cc/mkq4FdNT/erasedxatspace2.png') 0 0/cover no-repeat#000;
  --color:#abc6ef;
}