:root {
  --avatar:url('https://i.postimg.cc/fyRhhT04/lelouch.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/kX6qdmqG/codegeassxatspace.png');
  --inner-back:url('https://i.postimg.cc/kX6qdmqG/codegeassxatspace.png') 0 0/cover no-repeat#000;
  --color:#c7385a;
}