:root {
  --avatar:url('https://i.postimg.cc/brjCkNWt/c2.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/7Yz6M6W0/codegeassxatspace3.png');
  --inner-back:url('https://i.postimg.cc/7Yz6M6W0/codegeassxatspace3.png') 0 0/cover no-repeat#000;
  --color:#c7385a;
}