:root {
  --avatar:url('https://i.postimg.cc/ZR720x37/hanyuupfp.gif')no-repeat;
  --outer-back:url('https://i.postimg.cc/QCMN792J/higxatspaceback2.png');
  --inner-back:url(https://i.postimg.cc/QCMN792J/higxatspaceback2.png) 0 0/cover no-repeat#000;
  --color:#949fc5;
}