:root {
  --avatar:url('https://i.postimg.cc/qqXmLHHZ/mion.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/hv8CT87R/higxatspaceback3.png');
  --inner-back:url(https://i.postimg.cc/hv8CT87R/higxatspaceback3.png) 0 0/cover no-repeat#000;
  --color:#949fc5;
}