:root {
  --avatar:url('https://i.postimg.cc/c1Q5ZwtM/naho.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/ZYQRMGDK/orangexatspace.png');
  --inner-back:url('https://i.postimg.cc/ZYQRMGDK/orangexatspace.png') 0 0/cover no-repeat#000;
  --color:#729979;
}