:root {
  --avatar:url('https://i.postimg.cc/3wytQ7yk/sloth.gif')no-repeat;
  --outer-back:url('https://i.postimg.cc/HkMYbChR/uminekoxatspace2.png');
  --inner-back:url('https://i.postimg.cc/HkMYbChR/uminekoxatspace2.png') 0 0/cover no-repeat#000;
  --color:#c4536d;
}