:root {
  --avatar:url('https://i.postimg.cc/6qjZwMrp/bernkastel.png')no-repeat;
  --outer-back:url('https://i.postimg.cc/rFJnSfXw/uminekoxatspace4.png');
  --inner-back:url('https://i.postimg.cc/rFJnSfXw/uminekoxatspace4.png') 0 0/cover no-repeat#000;
  --color:#c4536d;
}