 @charset 'UTF-8';
 
  /*CSS for society*/

.back{padding:0}
.back{left:-24px}
.back{margin:-12}
.back{width:120%}
.back{height:180%}
.back{position:absolute}
.back{z-index:-999}
.back{background: url(http://i.imgur.com/LuWrqUK.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.back1{padding:0}
.back1{left:-24px}
.back1{margin:-12}
.back1{width:120%}
.back1{height:100%}
.back1{position:absolute}
.back1{z-index:-999}
.back1{transition:none}
.back1{background:#000}
}