:root {
  --avatar:url('https://i.postimg.cc/ZR720x37/hanyuupfp.gif');
  --outer-back:url('https://i.postimg.cc/hv8CT87R/higxatspaceback3.png');
  --inner-back:url(https://i.postimg.cc/ZYwK7rjt/higxatspaceback4.png) 0 0/cover no-repeat#000;
  --color:#949fc5;
}