:root {
  --avatar:url('https://i.postimg.cc/rpgPMgjH/beatrice.png');
  --outer-back:url('https://i.postimg.cc/HkMYbChR/uminekoxatspace2.png');
  --inner-back:url('https://i.postimg.cc/FHWnyxHq/uminekoxatspace.png') 0 0/cover no-repeat#000;
  --color:#f8b355;
}