:root {
  --avatar:url('https://i.postimg.cc/3wytQ7yk/sloth.gif');
  --outer-back:url('https://i.postimg.cc/rFJnSfXw/uminekoxatspace4.png');
  --inner-back:url('https://i.postimg.cc/Hkj9F8Ph/uminekoxatspace3.png') 0 0/cover no-repeat#000;
  --color:#c4536d;
}